name: Update Fact of the Day

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  update-fact:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install requests

      - name: Run Fact Update Script
        run: python fact_update_minimal.py

      - name: Commit and Push changes
        uses: stefanwa/git-auto-commit-action@v5
        with:
          commit_message: "New Random Fact of the Day"
          file_pattern: 'README.md'
